{% set fields = Bake.filterFields(fields, schema, modelObject) %}

<div class="{{ pluralVar }} form content">
    <div class="float-end">
        <?php
        echo $this->Html->link(
            title: __('List'),
            url: ['action' => 'index'],
            options: [
                'class' => 'btn btn-outline-primary',
                'icon' => 'bars',
            ]
        );
        {% if 'add' not in action %}
        echo $this->Form->postLink(
            title: __('Delete'),
            url: ['action' => 'delete', ${{ singularVar[0:1]|upper ~ singularVar[1:] }}->{{ primaryKey[0] }}],
            options: [
                'confirm' => __('Are you sure you want to delete # {0}?', ${{ singularVar[0:1]|upper ~ singularVar[1:] }}->{{ primaryKey[0] }}),
                'class' => 'btn btn-outline-danger',
                'icon' => 'trash',
            ]
        );
        {% endif %}
        ?>
        {{- "\n" }}
        {%- set done = [] %}
    </div>

    <h3><?= __('{{ action|humanize }} {{ singularHumanName }}') ?></h3>

    <?= $this->Form->create(context: ${{ singularVar[0:1]|upper ~ singularVar[1:] }}) ?>
    <fieldset>
        <?php
{% for field in fields %}
{%- if field not in primaryKey %}
{%- if keyFields[field] is defined %}
    {%- set fieldData = Bake.columnData(field, schema) %}
    {%- if fieldData.null %}
            echo $this->Form->control(fieldName: '{{ field }}', options: ['options' => ${{ keyFields[field] }}, 'empty' => true]);
            {{- "\n" }}
    {%- else %}
            echo $this->Form->control(fieldName: '{{ field }}', options: ['options' => ${{ keyFields[field] }}]);
            {{- "\n" }}
    {%- endif %}
{%- elseif field not in ['created', 'modified', 'updated'] %}
    {%- set fieldData = Bake.columnData(field, schema) %}
    {%- if fieldData.type in ['date', 'datetime', 'time'] and fieldData.null %}
            echo $this->Form->control(fieldName: '{{ field }}', options: ['empty' => true]);
            {{- "\n" }}
    {%- else %}
            echo $this->Form->control(fieldName: '{{ field }}');
            {{- "\n" }}
    {%- endif %}
{%- endif %}
{%- endif %}
{%- endfor %}

{%- if associations.BelongsToMany is defined %}
{%- for assocName, assocData in associations.BelongsToMany %}
            echo $this->Form->control(fieldName: '{{ assocData.property }}._ids', options: ['options' => ${{ assocData.variable }}]);
            {{- "\n" }}
{%- endfor %}
{% endif %}
        ?>
    </fieldset>
    <?= $this->Form->button(title: __('Submit'), options: ['type' => 'submit']) ?>
    <?= $this->Form->end() ?>
</div>
